<<<<<<< HEAD
.content{

	align-items: center;
	background-color: aliceblue;
}

section{

	width: 50px;
	float: left;
	

}
header {
	color: white;

	height: 90px;

	background-color: rgb(128, 128, 128);
	text-align: center;
=======
*{
	padding: 0px;
	margin:auto;
	box-sizing: border-box;

}

.section{
	display: flex;
	flex-wrap: wrap;


}


.tableau{
	width: 1400px;

}

.header {
	color: white;
	text-align: center;

	background-color: #d2b48c;
	height: 90px;
>>>>>>> ce91cec6c79f614a7bf4c42b9dec7e544d53fcb3
	
}

nav {
	color: white;
	background-color: rgb(128, 128, 128);
<<<<<<< HEAD
	text-align: center;
}


.rose {
	color: white;
	background-color: #ffdab9;
	border: white solid 1px;
	flex-wrap: wrap;
=======
	height: 30px;
	text-align: center;
}

.main {
	background-color: #AFEEEE;
	text-align: center;
	
>>>>>>> ce91cec6c79f614a7bf4c42b9dec7e544d53fcb3
	
}

	.rose {
		color: white;
		text-align: center;
		
		background-color: #ffdab9;
		width: 25%;
		height: 250px;
		border: white solid 1px
	}
	




.gris {
	color: white;
<<<<<<< HEAD
	background-color: #415865;
	border: white solid 1px;
}
.bleu {
	color: white;
	background-color: rgb(122, 158, 177);
	border: white solid 1px;
}
.beige {
	color: white;
	background-color: #d2b48c;
	border: white solid 1px;
}

footer {
	color: white;
	background-color: #c0c0c0;
=======
	text-align: center;
	background-color: #415865;
	width: 25%;
	height: 250px;
	
	border: white solid 1px
}

.bleu {
	color: white;
	text-align: center;
	background-color: rgb(122, 158, 177);
	width: 25%;
	height: 250px;
	border: white solid 1px
}

.beige {
	color: white;
	text-align: center;
	background-color: #d2b48c;
	width: 25%;
		height: 250px;
	border: white solid 1px
}




.footer {
	text-align: center;
	color: white;
	background-color: #c0c0c0;
	height: 90px;
>>>>>>> ce91cec6c79f614a7bf4c42b9dec7e544d53fcb3
}
