

.boite{
    
    
    background-image: url("../img/fortnite.png");
  
  
    border: 8px double rgb(189, 22, 139);

    margin: 10px;
    float: left;
    height: 196px;
    width: 350px;
   
}

.clear{
    clear: both;
}
.content{
 
    background-color: #B0C4DE;
}

.boite:hover{

    transition: width 2s;

    margin-top: 10px;


}
  
   